hr {
  margin: 50px 0;
}

h2 {
  text-align: center;
}
.spoiler {
  margin-bottom: 5px;
}

.spoiler.spoiler_active .spoiler__title::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.spoiler.spoiler_active .spoiler__title::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.spoiler.spoiler_active .spoiler__content {
  opacity: 1;
}
.spoiler__title {
  width: 100%;
  padding: calc(10 / 16 * 1rem) calc(15 / 16 * 1rem);
  border-radius: 6px;
  border: 1px solid #ccc;
  position: relative;
  background: transparent;
  cursor: pointer;
}
.spoiler__title::before,
.spoiler__title::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 1px;
  right: calc(10 / 16 * 1rem);
  top: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: black;
}
.spoiler__title::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.spoiler__title::after {
  right: calc(22 / 16 * 1rem);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (any-hover: hover) {
  .spoiler__title:hover {
    -webkit-box-shadow: 1px 2px 3px #ccc;
    box-shadow: 1px 2px 3px #ccc;
  }
}
.spoiler__content {
  font-size: calc(25 / 16 * 1rem);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  opacity: 0;
  height: 0;
}
.spoiler__content p {
  padding: calc(10 / 16 * 1rem) calc(15 / 16 * 1rem);
}

/* //========================================================================================================== */
/* спойлер через max-height */
.accordeon .accordeon__btn {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}
.accordeon__content {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.accoredon__active .accordeon__content {
  max-height: 500px;
  visibility: visible;
  overflow: visible;
}
.accordeon__content {
  background: rgba(204, 204, 204, 0.308);
}
/* //========================================================================================================== */
/* спойлер через height */

.accordeon__btn {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}
.accordeon-h .accordeon__content {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.accordeon-h.accoredon-h__active .accordeon__content {
  height: 500px;
  visibility: visible;
  overflow: visible;
}
.accordeon-h .accordeon__content {
  background: rgba(204, 204, 204, 0.308);
}
